// header styling
.header {

    background-image: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url(./../../images/header-bg.jpg);
    width: 100%;
    background-position: center;
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffff;
    justify-content: center;
    align-items: center;
    display: flex;

    input:focus-visible {
        border: none !important;
    }

    .title,
    .decsription {
        text-align: center;
    }

    .search-icon {
        color: $main-color;
        font-size: 29px;
        font-size: 17px;
        gap: 7px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-weight: bold;
    }
}
